<brls:Box
    width="auto"
    height="auto">

    <brls:ScrollingFrame
        width="auto"
        height="auto"
        axis="column"
        alignItems="stretch"
        scrollingBehavior="centered"
        grow="1.0" >

        <brls:Box
            width="10000"
            height="auto"
            axis="column"
            alignItems="stretch"
            paddingTop="@style/brls/sidebar/padding_top"
            paddingRight="@style/brls/sidebar/padding_right"
            paddingBottom="@style/brls/sidebar/padding_bottom"
            paddingLeft="@style/brls/sidebar/padding_left">

            <brls:Header
                    width="auto"
                    height="auto"
                    title="@i18n/pkdex/settings/updates"
                    marginBottom="10px" />

            <brls:BooleanCell
                    title="@i18n/pkdex/settings/check_updates_on_launch"
                    id="toggleCheckVersionOnLaunch"/>

            <brls:DetailCell
                    title="@i18n/pkdex/settings/check_updates"
                    id="checkUpdates"/>

            <brls:DetailCell
                    title="@i18n/pkdex/settings/launch_updater"
                    id="launchUpdater"/>

            <brls:Header
                    width="auto"
                    height="auto"
                    title="@i18n/pkdex/settings/pokemon_data"
                    marginTop="10px"
                    marginBottom="10px"/>

            <brls:SelectorCell
                    title="@i18n/pkdex/settings/select_region_to_reset"
                    id="regionSelector"/>

            <brls:DetailCell
                    title="@i18n/pkdex/settings/reset_capture_status"
                    id="resetCaptureStatus"/>

            <brls:Header
                    width="auto"
                    height="auto"
                    title="@i18n/pkdex/settings/user_interface"
                    marginTop="10px"
                    marginBottom="10px"/>

            <brls:BooleanCell
                    title="@i18n/pkdex/settings/hide_bottom_bar"
                    id="toggleHideBottomBar"/>

            <brls:Header
                    width="auto"
                    height="auto"
                    title="@i18n/pkdex/settings/i18n_title"
                    marginTop="10px"
                    marginBottom="10px"/>

            <brls:SelectorCell
                    title="@i18n/pkdex/settings/select_locale"
                    id="localeSelector"/>

            <brls:Header
                    width="auto"
                    height="auto"
                    title="@i18n/pkdex/settings/resources"
                    marginTop="10px"
                    marginBottom="10px"/>

            <brls:DetailCell
                    title="@i18n/pkdex/settings/download_high_res_images"
                    id="downloadHighResImages"/>

            <brls:DetailCell
                    title="@i18n/pkdex/settings/extract_high_res_images"
                    id="extractHighResImages"/>

        </brls:Box>

    </brls:ScrollingFrame>

</brls:Box>
