<brls:Box
    width="auto"
    height="auto">

    <brls:ScrollingFrame
        width="auto"
        height="auto"
        axis="column"
        alignItems="stretch"
        scrollingBehavior="centered"
        grow="1.0" >

        <brls:Box
            width="10000"
            height="auto"
            axis="column"
            alignItems="stretch"
            paddingTop="@style/brls/sidebar/padding_top"
            paddingRight="@style/brls/sidebar/padding_right"
            paddingBottom="@style/brls/sidebar/padding_bottom"
            paddingLeft="@style/brls/sidebar/padding_left">

            <brls:BooleanCell
                    title="Check for updates on launch"
                    id="toggleCheckVersionOnLaunch"/>

            <brls:DetailCell
                    title="Check for updates"
                    id="checkUpdates"/>

            <brls:DetailCell
                    title="Launch Updater"
                    id="launchUpdater"/>

            <brls:SelectorCell
                    title="@i18n/pkdex/settings/select_region_to_reset"
                    id="regionSelector"/>

            <brls:DetailCell
                    title="Reset Pokemon Capture Status"
                    id="resetCaptureStatus"/>

            <brls:BooleanCell
                    title="Hide Bottom Bar"
                    id="toggleHideBottomBar"/>

        </brls:Box>

    </brls:ScrollingFrame>

</brls:Box>
